.auth {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth__buttons-wrapper {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth__button {
  display: flex;
  align-items: center;
  
  border-radius: 4px;
  margin-bottom: 16px;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  font-size: 1em;

  min-width: 260px;
  min-height: 52px;
  padding: 4px;

  cursor: pointer;
}

.auth__button--google {
  background-color: #4285F4;
  color: white;
}

.auth__button--google > p {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.auth__button--google:hover {
  background-color: #5f94ed;
}

.auth__button--guest {
  justify-content: center;
  font-size: 1.1em;
  color: #1c2260;
  border: 1px solid #1c2260;
}

.auth__button--guest:hover {
  background-color: #ddd;
}

#auth__text--description {
  display: inline;
  max-width: 260px;
  text-align: center;
  color: #888;
}

#auth__text--processing {
  text-align: center;
  color: #888;
}

#auth__text--error {
  color: red;
}