@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.moviecard__container {
  display: inline-block;
  position: relative;
}

.moviecard__container > img, .poster__blank {
  -webkit-box-shadow: 5px 5px 12px 0px rgba(170,170,170,1);
  -moz-box-shadow: 5px 5px 12px 0px rgba(170,170,170,1);
  box-shadow: 5px 5px 12px 0px rgba(170,170,170,1);
}

.moviecard__overlay:hover {
  opacity: 1.0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.moviecard__overlay .Polaris-Button {
  display: none;
}

.moviecard__overlay:hover .Polaris-Button {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .moviecard__overlay:hover .Polaris-Button {
    position: absolute;
    bottom: -36px;
  }
}

.moviecard__movie-title {
  display: block;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 1.2em;
  line-height: 1.1em;
  color: white;
  margin-bottom: 20px;
  padding: 12px;
}

.moviecard__movie-title-small {
  display: block;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 1em;
  line-height: 1.1em;
  color: white;
  margin-bottom: 20px;
  padding: 12px;
}

.moviecard__nominate-unable {
  font-weight: bold;
  color: white;
}

.returnedlist__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
}

.returnedlist___loading-spinner {
  margin: 48px auto;
}