.card__image {
  width: 160px;
  height: 240px;
  object-fit: cover;
  display: none;
  opacity: 0;
}

.card__image--shadow {
  -webkit-box-shadow: 6px 6px 12px 0px rgba(18,18,18,0.7);
  -moz-box-shadow: 6px 6px 12px 0px rgba(18,18,18,0.7);
  box-shadow: 6px 6px 12px 0px rgba(18,18,18,0.7);
}

.card__spinner {
  width: 160px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__generic-title {
  cursor: default;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 240px;
}