@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.footer {
  margin-left: 24px;
  margin-bottom: 24px;
  max-width: 200px;
}

.footer__text {
  font-family: 'Roboto', 'Arial', 'Helvetica';
  font-size: 1.2em;
  line-height: 1.4em;
  text-decoration: none;
  display: inline-block;
}

.footer__text--title {
  color: #000000;
  font-weight: 500;
  margin-bottom: 6px;
}

.footer__text--link {
  text-decoration: none;
  color: #888;
  font-weight: 300;
  display: block;
}

.footer__text--link:hover {
  color: #41295a;
}