@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.nomination__container {
  display: grid;
  /* Each movie card poster takes up unit of width */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 24px;
}

.nomination__header {
  display: block;
  position: relative;
  padding: 24px;
  font-size: 3em;
  font-weight: 500;
  color: white;
}

.nomination__moviecard {
  padding-top: 36px;
  text-align: center;
}

.nomination__moviecard > p {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 900px) {
  .nomination__container { 
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .nomination__moviecard {
    margin: 12px 24px;
  }

  .nomination__moviecard:nth-child(5) {
    grid-column-end: span 2;
  }
}

.nomination__poster-container {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
}

.nomination__poster-image {
  margin: 0;
  width: 160px;
  height: 240px;
  object-fit: cover;
  -webkit-box-shadow: 6px 6px 12px 0px rgba(18,18,18,0.7);
  -moz-box-shadow: 6px 6px 12px 0px rgba(18,18,18,0.7);
  box-shadow: 6px 6px 12px 0px rgba(18,18,18,0.7);
}

.nomination__poster-title {
  cursor: default;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 240px;
}

/*remove-button is hidden by default*/
.nomination__remove-button {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
  display: none;
}

/* On smaller screens that could be touchscreen,
always display remove-button */
@media only screen and (max-width: 1000px) {
  .nomination__remove-button {
    display: block;
  }
}

/* Display remove-button when hovering over moviecard */
.nomination__moviecard:hover .nomination__remove-button {
  display: block;
}

.nomination__submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 20px;
}

.nomination__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  font-size: 1.6em;
  color: #41295a;

  min-height: 60px;
  min-width: 400px;

  cursor: pointer;
}

.nomination__submit-button:hover { 
  background-color: #ccc;
}

.nomination__ribbon-final { /* image (svg) */
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.endgame__container {
  display: flex;
  flex-direction: column;
  padding: 120px;
  color: white;
}

@media only screen and (max-width: 900px) {
  .endgame__container { 
    padding: 24px;
  }
}

.endgame__container > p, ul {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.4em;
  list-style-type: square;
}

li > a, .endgame__buttons > a {
  color: white;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
}

li > a:hover, .endgame__buttons > a:hover {
  color: violet;
}

.endgame__container > p:first-of-type {
  margin-top: 24px;
}

.endgame__buttons {
  margin: auto;
  max-width: 400px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
}