@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.nominations__container {
  display: grid;
  /* Each movie card poster takes up unit of width */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 24px;
}

.nominations__header {
  display: block;
  position: relative;
  padding: 24px;
  font-size: 3em;
  font-weight: 500;
  color: white;
}

.nominations__ribbon { /* after 5th nomination  */
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.nominated {
  padding-top: 36px;
  text-align: center;
}

.nominated > p {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .nominations__container { 
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 12px;
  }

  .nominations__header {
    padding: 12px;
    font-size: 2em;
  }

  .nominations__container::-webkit-scrollbar {
    display: none;
  }

  .nominated {
    display: inline-block;
    padding: 12px 12px;
    margin: 12px;
    scroll-snap-align: center;
  }

  .nominated:last-of-type {
    padding-right: 140px;
  }

}

.nominated__image-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
}

/*remove-button is hidden by default*/
.nominated__remove-button {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
  display: none;
}

/* On smaller screens that could be touchscreen,
always display remove-button */
@media only screen and (max-width: 1024px) {
  .nominated__remove-button {
    display: block;
  }
}

/* Display remove-button when hovering over moviecard */
.nominated:hover .nominated__remove-button {
  display: block;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 20px;
}

.submit__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  font-size: 1.6em;
  color: #41295a;

  min-height: 60px;
  min-width: 400px;

  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .submit__button {
    min-width: 300px;
    font-size: 1.2em;
  }
}

.submit__button:hover { 
  background-color: #ccc;
}

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 120px;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .portfolio { 
    padding: 24px;
  }
}

.portfolio > p:first-of-type {
  margin-top: 24px;
}

.portfolio > p, ul {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.4em;
  list-style-type: square;
}

.portfolio__links {
  margin: auto;
  max-width: 400px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
}

li > a, .portfolio__links > a {
  color: white;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
}

li > a:hover, .portfolio__links > a:hover {
  color: violet;
}