@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.nomination__container {
  display: grid;
  /* Each movie card poster takes up unit of width, 
  then the submit button takes up two */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.nomination__moviecard {
  text-align: center;
}

.nomination__moviecard > p {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  color: white;
}

.nomination__poster {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.nomination__poster > img {
  display: inline;
  margin: 0;
}

.nomination__poster-blank {
  padding: 6px;
  width: 160px;
  height: 240px;
  background: white;
  color: #41295a;
  
  display: flex;
  align-items: center;
}

.nomination__remove-button {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
}

.nomination__submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
}

.nomination__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 20px;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  font-size: 1.6em;
  color: #41295a;

  min-height: 60px;
  min-width: 400px;

  cursor: pointer;
}

.nomination__submit-button:hover { 
  background-color: #ccc;
}

.nomination__header-title {
  padding: 12px;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 36px;
  color: white;
}

.endgame__container {
  display: flex;
  flex-direction: column;
  padding: 120px;
  color: white;
}

.endgame__container > p, ul {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.4em;
  list-style-type: square;
}

li > a, .endgame__buttons > a {
  color: white;
  text-decoration: none;
  padding: 12px;
  cursor: pointer;
}

li > a:hover, .endgame__buttons > a:hover {
  color: violet;
}

.endgame__container > p:first-of-type {
  margin-top: 24px;
}

.endgame__buttons {
  margin: auto;
  max-width: 400px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
}