@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.nomination__container {
  display: grid;
  /* Each movie card poster takes up unit of width, 
  then the submit button takes up two */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.nomination__moviecard {
  text-align: center;
}

.nomination__moviecard > p {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
}

.nomination__poster {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.nomination__poster > img {
  display: inline;
  margin: 0;
}

.nomination__poster-blank {
  padding: 6px;
  width: 160px;
  height: 240px;
  background: #41295a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  
  display: flex;
  align-items: center;
}

.nomination__remove-button {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
}

.nomination__remove-button:active {
  top: -4px;
}

.nomination__submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.nomination__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41295a;
  border-radius: 12px;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  font-size: 1.6em;
  color: white;

  min-height: 60px;
  min-width: 400px;

  cursor: pointer;
}

.nomination__submit-button:hover { 
  background-color: #6c4794;
}

.nomination__header-title {
  padding: 12px;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 36px;
}