.nomination__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  flex-wrap: wrap;
}

.nomination__moviecard {
  text-align: center;
}

.nomination__poster {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.nomination__poster > img {
  display: inline;
  margin: 0;
}

.nomination__remove-button {
  position: absolute;
  top: -8px;
  right: -8px;
}