@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

a, a:visited {
  text-decoration: none;
}

.layout__container:first-of-type {
  border: 1px solid #41295a;
  background: #41295a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #230051, #50248F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #230051, #50248F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.layout__section {
  margin: auto;
  margin-top: 24px;
  max-width: 1280px;
}

.welcome__container {
  margin: auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', 'Arial', 'sans-serif';

  text-align: center;
  max-width: 800px;
  color: white;
}

.welcome__title {
  margin-top: 12px;
  padding: 12px;
  font-size: 3em;
  line-height: 1em;
  font-weight: 500;
}

.welcome__subtext {
  padding: 12px;
  font-size: 1.8em;
  line-height: 1.1em;
  font-weight: 300;
  text-align: center;
}

sup {
  font-size: 0.5em;
}

#shoppies-logo {
  max-height: 250px;
}

#searchfield {
  max-width: 600px;
  padding: 0px 12px;
  margin: auto;
  margin-bottom: 12px;
}

.searchfield__header {
  text-align: center;
  margin-bottom: 24px;;
}

.movielist__search-failed {
  width: 100%;
  padding: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 2em;
  color: #aaa;
}

.on-fade-in {
  opacity: 1;
}