@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

a, a:visited {
  text-decoration: none;
}

.layout__container:first-of-type {
  border: 1px solid #1C2260;
  background: #1c2260;
  background-color: #1c2260;
}

.layout__section {
  margin: auto;
  margin-top: 24px;
  max-width: 1280px;
  min-height: 360px;
}

.welcome__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', 'Arial', 'sans-serif';

  text-align: center;
  color: white;
}

.welcome__title {
  margin: 36px;
  padding: 12px;
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
}

.welcome__subtext {
  padding: 12px;
  font-size: 1.8em;
  line-height: 1.1em;
  font-weight: 300;
  text-align: center;
}

#shoppies-logo {
  max-height: 260px;
  margin: 0 24px;
}

#searchfield {
  max-width: 600px;
  padding: 0px 12px;
  margin: auto;
  margin-bottom: 12px;
}

.searchfield__header {
  text-align: center;
  margin: 0 12px 24px 12px;
}

.movielist__search-failed {
  width: 100%;
  padding: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 2em;
  color: #aaa;
}

.signin__container {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signin__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C2260;
  border-radius: 12px;
  margin-bottom: 20px;

  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  font-size: 1.6em;
  color: white;

  min-height: 60px;
  min-width: 300px;

  cursor: pointer;
}

.signin__button:hover {
  background-color: #2d3691;
}

#signin__description {
  color: #888;
  text-align: center;
  display: inline;
}

#signin__processing {
  color: #888;
  text-align: center;
  display: none;
}

#signin__error {
  color: red;
  text-align: center;
  display: none;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}