@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.main__container {
  padding: 100px;
}

.welcome__container {
  margin: auto;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', 'Arial', 'sans-serif';

  max-width: 800px;
}

.welcome__title {
  padding: 12px;
  font-size: 3em;
  font-weight: 500;
}

.welcome__subtext {
  padding: 12px;
  font-size: 1.8em;
  line-height: 1.1em;
  font-weight: 300;
  text-align: center;
}

sup {
  font-size: 0.5em;
}